<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>ToDo List</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="wrapper">
    <div id="app">
      <div class="container">
        <header class="header">
          <h1 class="title">{{title}}</h1>
          <h2 class="subtitle">{{subtitle}}</h2>
        </header>
        <main>
          <form @submit.prevent="handleStore">
            <input type="text" required v-model="input.value" :placeholder="input.placeholder">
            <button class="btn btn-primary" type="submit">Add new task</button>
          </form>
          <div class="notes">
            <ul class="notes__list" >
              <li v-for="(note, index) in notesFiltered" :key="index" class="notes__item">
                <p v-show="note.hasError" class="error">{{errorMessage}}</p>
                <form @submit.prevent="handleUpdateNote(note, index)" >
                  <input v-if="note.isUpdating" v-model="notes[index].title" type="text" >
                  <div v-else @click="handleDone(note)" class="notes__task" :class="{done:note.isDone}">
                    <p v-if="note.isDone" class="notes__done">done</p>
                    <p class="notes__text" :class="{done:note.isDone}">{{note.title}}</p>
                  </div>
                  <div class="notes__buttons">
                    <button v-if="note.isUpdating" type="submit" class="btn btn-light">Ok</button>
                    <button v-else @click="handleUpdate(note)" class="btn btn-light" v-if="!note.isDone">Edit</button>
                    <button @click="handleDestroy(index)" type="button" class="btn btn-secondary">Delete</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <div class="info">
            <div>
              <p class="info__statistics">Tasks to do: {{amountOfTasksToDo}}</p>
              <button v-if="isDoneHidden" @click="handleShowDone" class="btn btn_small btn-primary-light" >Show done tasks</button>
              <button v-else @click="handleHideDone" class="btn btn_small btn-primary-light" :disabled="!amountOfDoneTasks">Hide done tasks</button>
            </div>
            <div>
              <p class="info__statistics">Done tasks: {{amountOfDoneTasks}}</p>
              <button @click="handleDestroyDone" class="btn btn_small btn-secondary" :disabled="!amountOfDoneTasks">Delete done</button>
            </div>
            <div>
              <p class="info__statistics">Total: {{notes.length}}</p>
              <button @click="handleDestroyAll" class="btn btn_small btn-secondary" :disabled="!notes.length">Delete all</button>
            </div>
          </div>
        </main>
        <footer class="footer">
          <a href="https://github.com/ollaweb/vue3-notes" target="_blank">visit my repo <img src="./github.svg" alt="github"></a>
        </footer>
      </div>
    </div>
  </div>
  <script src="./app.js"></script>
</body>

</html>