* {
  box-sizing: border-box;
}
body, p ,form {
  margin: 0;
}
body{
  font-family: Montserrat;
  font-weight: 500;
  color: #3E3838;
  background-color: #F4EFEE;
}
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  margin: 30px 0 0;
  flex: 1 0 auto;
}

.header {
  text-align: center;
}

.title {
  margin: 66px 0 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color:  #A96D8E;
}
.subtitle{
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: #CEA4B6;
}
.form_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  justify-content: space-between;
}
.input_add {
  padding: 14px 15px;
  font-family: Montserrat;
  font-weight: 500;
  width: 382px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #A96D8E;
  border-radius: 20px;
  background-color: #F4EFEE;
}
.input{
  padding: 10px;
  font-family: Montserrat;
  font-weight: 500;
  width: 521px;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #A96D8E;
  border-radius: 20px;
  background-color: transparent;
}
.input::placeholder{
  color: #A9A1A5;
}
.input_add:focus{
  outline: 1px solid #A96D8E;
}
.input:focus{
  outline: 1px solid #A96D8E;
}
.btn {
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btn:disabled {
  background-color: #D3CBD0;
  cursor: not-allowed;
}
.btn_small {
  padding: 6px 8px;
}
.btn-primary {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background-color: #A96D8E;
}
.btn-primary-light {
  font-size: 20px;
  line-height: 24px;
  color: #A96D8E;
  background: #FFFFFF;
  border: 1px solid #A96D8E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.btn-secondary {
  font-size: 20px;
  line-height: 24px;
  color: #3E3838;
  background-color: #E2C9C3;
}
.btn-light {
  font-size: 20px;
  line-height: 24px;
  color: #3E3838;
  background-color: #ffffff;
}
.btn-round {
  position: relative;
  padding: 10px;
  width: 44px;
  height: 44px;
  font-size: 16px;
  border-radius:100%;
}
.btn-round img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notes__list {
  margin: 50px 0;
  padding: 0;
}
.notes__list>:not(:last-child) {
  margin-bottom: 20px;
}
.notes__item {
  position:relative;
  list-style-type: none;
}
.notes__item .btn-secondary{
  margin-left: 11px;
}
.notes__task {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 521px;
  font-size: 20px;
  line-height: 24px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.notes__task.done {
  background-color: #B58AA2;
}
.notes__text{
  margin-left: 34px;
}
.checkbox{
  position: relative;
}
.checkbox::before{
  position: absolute;
  display: inline-block;
  top: -12px;
  left: 0px;
  content:"";
  width: 24px;
  height: 24px;
  border: 1px solid #3E3838;
  border-radius:100%;
  cursor: pointer;
}
.notes__task.done .checkbox::before{
  border: 1px solid #DEBBCE;
}
.notes__task.done .checkbox::after{
  position: absolute;
  display: inline-block;
  top: -6px;
  left: 6px;
  content:"";
  width: 14px;
  height: 14px;
  background-color:  #DEBBCE;
  border-radius:100%;
}
.notes__text.done {
  text-decoration-line: line-through;
  color: #DEBBCE;
}
.notes__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 521px;
}
.info>div>:last-child{
margin-top: 12px;
}
.info__statistics{
  font-size: 20px;
  line-height: 24px;
  color: #A96D8E;
}
.footer{
  margin: 43px 12px 30px 0;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}
.footer a {
  display: flex;
  align-items: center;
  color: #7EA0A5;
}
.footer img {
  margin-left: 9px;
}
.error{
  position: absolute;
  top:-15px;
  left: 15px;
  font-size: 12px;
  color: rgb(179, 24, 24);
}
@media(max-width:768px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
  .title{
    margin: 30px 0 0;
  }
  .subtitle {
    font-size: 18px;
  }
  .input_add{
    width: 58%;
  }
  .input{
    width: 78%;
  }
  .notes__task{
    flex: 0 0 78%;
  }
}


@media(max-width: 576px) {
  .container {
    padding: 0 10px;
    width: 100%;
  }
  .form_add {
    flex-direction: column;
  }
  .form {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 521px;
    font-size: 20px;
    line-height: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .form.done{
    background-color: #B58AA2;
  }
  .input{
    margin-right: 10px;
    padding: 0px 10px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .input_add{
    width: 100%;
    max-width: 382px;
  }
  .info {
    flex-direction: column;
  }
  .btn {
    padding: 6px 8px;
    font-size: 18px;
    line-height: 22px;
  }
  .btn-primary {
    margin-top: 15px;
    padding: 10px 24px;
    width: 100%;
    max-width: 382px;
  }
  .btn-round {
    padding: 6px;
    width: 28px;
    height: 28px;
    font-size: 11px;
    line-height: 100%;
  }
  .checkbox::before{
    top: -12px;
    left: 0px;
    width: 20px;
    height: 20px;
  }
  .notes__task.done {
    background-color: unset;
  }
  .notes__task.done .checkbox::after {
    top: -6px;
    left: 6px;
    width: 10px;
    height: 10px;
  }
  .notes__item {
    position: relative;
  }
  .notes__task {
    flex: 0 1 auto;
    padding: 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    background-color: unset;
    box-shadow: none;
    border-radius: none;
  }
  .notes__text {
    margin-left: 30px;
  }
  .notes__text {
    font-size: 16px;
    line-height: 20px;
  }
  .info{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
  .info>*:not(:last-child) {
    margin-bottom: 20px;
  }
  .info>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .info>div>:last-child {
    margin: 0;
  }
  .info__statistics {
    font-size: 18px;
    line-height: 22px;
  }
}